main {
    padding-left: var(--aside-width);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 2rem;
    grid-gap: 0.2rem;
    
}
.grid-item {
    background-color: aquamarine;
    text-align: center;
    height: 8rem;
}
.grid-item.weekday {
  height: 2rem;
  text-align: center;
}