main {
    padding-left: var(--aside-width);
    background: url("/img/Calendar-photo.jpg") no-repeat center/ cover; 
    

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 8rem;
    grid-gap: 1rem;
}

.grid-item {
    background: url("/img/Calendar-Blur.jpg") no-repeat center;
    text-align: start;
    padding-left: 0.5rem;
    font-size: large;
    /* color: rgb(204, 194, 194); */
    height: 5.66rem;
    font-weight: bold;
    border: 0.1rem sandybrown solid;
}

.grid-item.weekday {
  height: 3rem;
  text-align: center;
  padding-top: 0.5rem;
  font-weight: 999;
  /* color: rgb(204, 194, 194); */
}