html,
body {
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	background-color: #e3fdfd;
	padding: var(--universal-spacer);
	color: white;
}

main {
	margin-left: 1rem;
	width: 100%;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	/* NOTE: Kolla om det går och fixa inställningar för rad 1 height */
	grid-gap: var(--grid-gap);
}
.grid-item {
	background-color: #a6e3e9;
	border-radius: 0.5rem;
	text-align: start;
	padding: 0.5rem;
	font-size: 1rem;
	overflow: hidden;
}

.weekday {
	background-color: #a6e3e9;
	border-radius: 0.5rem;
	height: 3rem;
	text-align: center;
	padding: var(--universal-spacer);
	font-size: 1rem;
}

.holiday {
	font-size: 0.8rem;
	color: red;
	font-weight: 200;
	text-decoration: none;
}

.holiday-color {
	background-color: #ffb4b4;
	color: red;
}

@media (max-width: 1024px) {
	.weekday {
		font-size: 0;
	}
	.weekday:first-letter {
		font-size: 1.5rem;
	}
	.holiday {
		font-size: 0;
	}
}

@media (max-width: 768px) {
	main {
		display: none !important;
	}
}
